### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import csv

# File to Load (Remember to Change These)
datafile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(datafile)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
#Gets the length of the unique "SN" values and displays them
player_count = len(purchase_data["SN"].unique())
print(f"Total Number of Players: {player_count}")

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Get the column names for the data frame
print(purchase_data.columns)

#Get the length of the unique "Item ID" values and stores them in a variable
unique_items = len(purchase_data["Item ID"].unique())

#Gets the average price from the "Price" column and stores in a variable
avg_price = purchase_data["Price"].mean()

#Gets the total count of purchases from the "Purchase ID" column and stores in a variable
num_purchases = purchase_data["Purchase ID"].count()

#Gets the sum of the purchaes from the "Price" column and stores in a variable
total_revenue = purchase_data["Price"].sum()

print(f"{unique_items} {avg_price} {num_purchases} {total_revenue}")

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')
183 3.050987179487176 780 2379.77

In [4]:
#Create a summary DataFrame using the above values
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [avg_price],
                           "Number of Purchases": [num_purchases],
                           "Total Revenue": [total_revenue]})

#Formats the columns with pricing info using map() function
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:.2f}".format)

#Display the summary data frame
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Create a df with only the unique SN
unique_names_df = purchase_data.drop_duplicates(["SN"])
#unique_names_df

#Group the data by gender
unique_gender_count = unique_names_df["Gender"].value_counts()

#Create a summary table of the gender count
gender_df = pd.DataFrame(unique_gender_count)

#Adds the percentage of players column to the table
gender_df["Percentage of Players"] = (gender_df["Gender"] / player_count) * 100
#Formats the Percentage of Players column to show a percentage
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)
gender_df

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#Get the value counts of each gender's purchases
gender_purchase_count = purchase_data["Gender"].value_counts()

#Set the value counts in a data frame
gender_count = pd.DataFrame(gender_purchase_count)

#Separate the index using future code...
gender_grouped_data = purchase_data.groupby("Gender")

#Get the avg purchase price and total using the mean() and sum() functions respectively
gender_mean = gender_grouped_data["Price"].mean()
gender_sum = gender_grouped_data["Price"].sum()

#Rename column
gender_count = gender_count.rename(columns={"Gender":"Purchase Count"})

#Add the mean and sum values to the dataframe
gender_count["Average Purchase Price"] = gender_mean
gender_count["Total Purchase Value"]= gender_sum

#Get the avg purchase per person by dividing the sum with the gender count for the unique names, adding it to the df
gender_count["Avg Total Purchase per Person"] = (gender_sum /gender_df["Gender"])

#Format the columns to look like currency values
gender_count["Average Purchase Price"] = gender_count["Average Purchase Price"].map("${:.2f}".format)
gender_count["Total Purchase Value"]=gender_count["Total Purchase Value"].map("${:.2f}".format)
gender_count["Avg Total Purchase per Person"]=gender_count["Avg Total Purchase per Person"].map("${:.2f}".format)

print(gender_count)

Purchase Count Average Purchase Price  \
Male                              652                  $3.02
Female                            113                  $3.20
Other / Non-Disclosed              15                  $3.35

                      Total Purchase Value Avg Total Purchase per Person
Male                              $1967.64                         $4.07
Female                             $361.94                         $4.47
Other / Non-Disclosed               $50.19                         $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
#Store all of the ages from the unique players in a dataframe
age_data = unique_names_df[["Age"]]

#Find the upper and lower values to get a range of values
print(age_data.max())
print(age_data.min())

#Make bins and groups that uses the range of the data
age_bins = [0,9,14,19,24,29,34,39,50]
age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Adds the Group Summary bins to the dataframe
age_data["Age Group Summary"] = pd.cut(age_data["Age"],age_bins,labels = age_groups)

#Make a summary frame getting the total counts of each group, not sorting it to keep the data where it was
age_demos= pd.DataFrame(age_data["Age Group Summary"].value_counts(sort = False))
#print(age_demos)

#Add the percentage of players column per group
age_demos["Percentage of Players"] = (age_demos["Age Group Summary"] / player_count) * 100 

#Format the summary frame
age_demos.rename(columns={"Age Group Summary":"Total Count"})
age_demos["Percentage of Players"] = age_demos["Percentage of Players"].map("{:.2f}%".format)
age_demos

Age    45
dtype: int64
Age    7
dtype: int64

       Age Group Summary Percentage of Players
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Make new data frame from purchase_data with only the relevant data (age and price)
age_price = purchase_data[["Age","Price"]]
#Using the bins and groups from before, make a column of the age groups
age_price["Age Range"] = pd.cut(age_price["Age"],age_bins,labels = age_groups)
#Get the purchase count of each group by using value count
age_counts = age_price["Age Range"].value_counts(sort = False)

#Get the average purchase price of each group by using mean
grouped_age_analysis = age_price.groupby(["Age Range"])
age_mean = grouped_age_analysis["Price"].mean()
#Get the total purchase value of each group by using sum
age_total = grouped_age_analysis["Price"].sum()

age_analysis = pd.DataFrame({"Purchase Count":age_counts,"Average Purchase Price":age_mean,"Total Purchase Value":age_total})
#print(age_analysis)
#Get the average total purchase per person by using the unique names dataframe and binning that
unique_ages = unique_names_df
unique_ages["Age Range"]= pd.cut(age_price["Age"],age_bins,labels = age_groups)
unique_ages_df = pd.DataFrame(unique_ages["Age Range"].value_counts(sort = False))
age_avg_total = age_total / unique_ages_df["Age Range"]
age_analysis["Avg Total Purchase per Person"] =age_avg_total

age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:.2f}".format)
age_analysis["Avg Total Purchase per Person"] = age_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
print(age_analysis)

Purchase Count Average Purchase Price Total Purchase Value  \
<10                23                  $3.35               $77.13
10-14              28                  $2.96               $82.78
15-19             136                  $3.04              $412.89
20-24             365                  $3.05             $1114.06
25-29             101                  $2.90              $293.00
30-34              73                  $2.93              $214.00
35-39              41                  $3.60              $147.67
40+                13                  $2.94               $38.24

      Avg Total Purchase per Person
<10                           $4.54
10-14                         $3.76
15-19                         $3.86
20-24                         $4.32
25-29                         $3.81
30-34                         $4.12
35-39                         $4.76
40+                           $3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Get the total amount of times each SN appears in the data
sn_count = purchase_data["SN"].value_counts()

#Gets the total sum of the purchases made by each SN
spender_sum = purchase_data.groupby("SN")["Price"].sum()

#Get the average purchase price by dividing the total sum per SN by the SN count
spender_avg = spender_sum / sn_count

#Combine all of the results into a summary data frame
top_spenders_df = pd.DataFrame({"Purchase Count":sn_count,"Average Purchase Price":spender_avg,"Total Purchase Value":spender_sum})

#Sorts the summary frame by Total Purchase Value in descending order
top_spenders_df = top_spenders_df.sort_values(by="Total Purchase Value",ascending = False)

#Formats the values for currency
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)

print(top_spenders_df)

Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:
#Make a new data frame only with Item ID, Item Name, and Item Price
item_list = purchase_data[["Item ID","Item Name","Price"]]

#Sort the list by Item ID and Item Name
grouped_item_list = item_list.groupby(["Item ID","Item Name"])

#Make the summary data frame using by getting the count of each Item and sorting them in descending order
popular_items = pd.DataFrame(grouped_item_list.count().sort_values(by = "Price",ascending = False))
#Rename the Price column to Purchase Count to avoid naming conflicts in later steps
popular_items = popular_items.rename(columns={'Price':"Purchase Count"})

#Adds the price column by getting the initial values in the Price column in the grouped list
popular_items["Price"] = grouped_item_list.first()
#Adds the Total Purchase Value column by getting the sum of each Item according to frequency 
popular_items["Total Purchase Value"] = grouped_item_list["Price"].sum().sort_values( ascending = False)

#Formats the columns involving currency
popular_items["Price"] = popular_items["Price"].map("${:.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)

#Prints the data frame
popular_items

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
...,...,...,...,...
104,Gladiator's Glaive,1,$1.93,$1.93
23,Crucifer,1,$1.99,$1.99
180,Stormcaller,1,$3.36,$3.36
91,Celeste,1,$4.17,$4.17
134,Undead Crusader,1,$4.50,$4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [111]:
#Because the Total Purchase Value now has a $ in it, it is now considered a string
#To properly sort by numeric value instead of by string, we have to convert the column
#back to a float by removing the $ using replace() and recasting the column as float using astype()
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].str.replace('$','')
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].astype('float')

#Sort the data frame by Total Purchase Value, descending
popular_items = popular_items.sort_values(by ='Total Purchase Value',ascending = False)
#Convert the column back to currency
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)
#Display the summary data frame
popular_items

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75