### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [150]:
# Dependencies and Setup
import pandas as pd
import csv

# File to Load (Remember to Change These)
datafile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(datafile)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [151]:
#Gets the length of the unique "SN" values and displays them
player_count = len(purchase_data["SN"].unique())
print(f"Total Number of Players: {player_count}")

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [152]:
#Get the column names for the data frame
print(purchase_data.columns)

#Get the length of the unique "Item ID" values and stores them in a variable
unique_items = len(purchase_data["Item ID"].unique())

#Gets the average price from the "Price" column and stores in a variable
avg_price = purchase_data["Price"].mean()

#Gets the total count of purchases from the "Purchase ID" column and stores in a variable
num_purchases = purchase_data["Purchase ID"].count()

#Gets the sum of the purchaes from the "Price" column and stores in a variable
total_revenue = purchase_data["Price"].sum()

print(f"{unique_items} {avg_price} {num_purchases} {total_revenue}")

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')
183 3.050987179487176 780 2379.77

In [153]:
#Create a summary DataFrame using the above values
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [avg_price],
                           "Number of Purchases": [num_purchases],
                           "Total Revenue": [total_revenue]})

#Formats the columns with pricing info using map() function
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:.2f}".format)

#Display the summary data frame
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [154]:
#Create a df with only the unique SN
unique_names_df = purchase_data.drop_duplicates(["SN"])
#unique_names_df

#Group the data by gender
unique_gender_count = unique_names_df["Gender"].value_counts()

#Create a summary table of the gender count
gender_df = pd.DataFrame(unique_gender_count)

#Adds the percentage of players column to the table
gender_df["Percentage of Players"] = (gender_df["Gender"] / player_count) * 100
#Formats the Percentage of Players column to show a percentage
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)
gender_df

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [157]:
gender_purchase_count = purchase_data["Gender"].value_counts()
print(gender_purchase_count)
gender_values = dict()
for x, v in enumerate(gender_purchase_count):
    gender_values[x] = v
print (gender_values)
gender_grouped_data = purchase_data.groupby(["Gender"])
gender_count = pd.DataFrame(gender_grouped_data.count())


gender_mean = gender_grouped_data["Price"].mean()
gender_sum = gender_grouped_data["Price"].sum()
#print(gender_count)
gender_count = gender_count.drop(['SN','Age','Item ID','Item Name','Price'], axis = 1)
print(gender_count.columns)

#gender_count = gender_count[{"Average Purchase Price": gender_mean}, {"Total Purchase Value": gender_sum}]
#print(gender_count)
#gender_purchase_summary_df = pd.DataFrame({"Purchase Count": [gender_purchase_count],"Average Purchase Price": [avg_price],"Total Purchase Value": [num_purchases]})
#gender_purchase_summary_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
{0: 652, 1: 113, 2: 15}
Index(['Purchase ID'], dtype='object')

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [194]:
age_data = unique_names_df[["Age"]]
print(age_data.max())
print(age_data.min())
age_bins = [0,9,14,19,24,29,34,39,50]
age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]


age_data["Age Group Summary"] = pd.cut(age_data["Age"],age_bins,labels = age_groups)
age_data["Age Group Summary"] = age_data["Age Group Summary"].value_counts(sort = False).tolist()
#age_data["Age Group Summary"] = age_data["Age Group Summary"].astype(float)
age_data.dtypes
#age_data["Percentage of Players"] = float(age_data["Age Group Summary"]) / player_count 
#age_data
#age_data = purchase_data.groupby(["Age Group Summary"])
#age_data.count()

Age    45
dtype: int64
Age    7
dtype: int64

ValueError: Length of values does not match length of index

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [118]:
spender_count = purchase_data.groupby(["SN"])
print(spender_count.cumsum())

Purchase ID  Age  Item ID  Price
0              0   20      108   3.53
1              1   40      143   1.56
2              2   24       92   4.88
3              3   24      100   3.27
4              4   23      131   1.44
..           ...  ...      ...    ...
775          775   21       60   3.54
776         2285   84      518  13.62
777          777   20       67   3.46
778          778    7      101   4.19
779         1240   48      218   6.08

[780 rows x 4 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80